* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.header_font {
    position: absolute;
    font-family: cursive;
    font-size: 50px;
    color: rgb(250, 250, 250);
    left: 5%;
}

.header_background {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: black;
}



   
.footer {
    width: 110%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    bottom: 0%;
    right: 0%;
    position: fixed;
    z-index: 1;
}

.footer_text {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: larger;
    position: absolute;
    right: 43%;
    top: 25%;
}

.footer_link {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: larger;
    position: absolute;
    top: 24%;
    right: 40%;
}


.page_background_color {
    color: rgb(250, 242, 242);
}

.nav_grid {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
    position: absolute;
    right: 0%;
    grid-gap: 60px;
    top: 2.5%;
}

.nav_text {
    width: 40px;
    height: 30px;
    font-family: cursive;
    font-size: 30px;
    gap: 1rem;
    color: rgb(255, 255, 255);
}

.nav_text:hover {
    font-size: 29px;
}

.nav_icon {
    filter: invert(87%) sepia(78%) saturate(0%) hue-rotate(92deg) brightness(108%) contrast(101%);
    width: 40px;
    height: 30px;
    font-family: cursive;
    font-size: 30px;
    gap: 1rem;
}

.app_background_first_image{
    position: absolute;
    border-radius: 20px;
    width: 40%;
    top: 23%;
    left: 5%;
    height: 40%;

}

.app_background_first_image_text{
    color: black;
    position: absolute;
    font-family: cursive;
    font-size: 28px;
    top: 28%;
    left: 47%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    z-index: 0;
}


.app_background_second_image_text{
    color: black;
    position: absolute;
    font-family: cursive;
    font-size: 28px;
    top: 75%;
    right: 45%;
    margin-left: 26px;
    background-color: rgb(245, 245, 245);
    z-index: 0;
    border-radius: 10px;
}


.app_background_second_image{
    position: absolute;
    border-radius: 20px;
    width: 40%;
    top: 70%;
    left: 57%;
    height: 40%;

}


.Link {
    text-decoration: none;
}


.item_image{
    width: 50%;
    height: 70%;
    margin: 20px;
    border-radius: 20px;
    margin-left: 25%;
}

.item_grid {
    position: absolute;
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
    background-color: whitesmoke;
    width: 80%;
    height: 325%;
    top: 13%;
    left: 11%;
    border-radius: 20px;
    z-index: 0;
}

.item_button {
    width: 20%;
    height: 5%;
    top: 11%;
    right: 36%;
    background-color: rgb(244, 131, 32);
    color: white;
    position: relative;
    border-radius: 20px;
}

.item_button:hover {
    font-size: large;
}

.item_price {
    font-family: cursive;
    font-size: 40px;
    position: relative;
    left: 26%;
    top: -6%;
}


.about_page_map {
    top: 17%;
    position: absolute;
    left: 5%;
}

.about_page_header {
    position: absolute;
    top: 10%;
    left: 39%;
    color: black;
    font-size: 80px;
    font-family: cursive;
}

.about_page_location {
    font-family: cursive;
    position: absolute;
    top: 22%;
    left: 42%;
    color: black;
    font-size: 40px;
}

.about_page_phone_number {
    font-family: cursive;
    position: absolute;
    top: 29%;
    left: 42%;
    color: black;
    font-size: 40px;
}

.about_page_email {
    font-family: cursive;
    position: absolute;
    top: 37%;
    left: 42%;
    color: black;
    font-size: 40px;
}

.about_page_hours {
    font-family: cursive;
    position: absolute;
    top: 44%;
    left: 42%;
    color: black;
    font-size: 40px;
}

.about_page_background {
    position: absolute;
    top: 22%;
    background-color:rgb(237, 233, 226);
    left: 1%;
    width: 98%;
    height: 70%;
    border-radius: 20px;
    z-index: 0;
}

.cart {
    position: absolute;
    top: 3%;
    left: 93%;
    background-color: black;
    font-size: 39px;
}

.cart:hover {
    font-size: 42px;
}


.cart_background {
    grid-template: repeat(10, 1fr) / repeat(1, 1fr);
    display: grid;
    right: 0%;
    top: 10%;
    width: 10%;
    height: 100%;
    z-index: 1;
    position: absolute;
    border-radius: 20px;
}

.cart_background_hidden {
    visibility: hidden;
}

.cart_item_image {
    position: relative;
    right: 0%;
    width: 70%;
    height: 70%;
    border-radius: 40px;
    margin-top: 0px;
    overflow-y: scroll;
    z-index: 3;
}

.cart_item_text {
    color: black;
    font-size: 30px;
    position: relative;
    right: 0%;
    font-family: cursive;
    overflow-y: scroll;
}

.checkout_price {
    font-family: cursive;
    font-size: xx-large;
}


.remove_item_from_cart_button {
    position: relative;
    right: -40%;
    top: -14%;
    background-color: rgb(218, 124, 31);
    font-family: cursive;
    border-radius: 15px;
}

.remove_item_from_cart_button:hover {
    font-size: large;
}